@using K_Shelf.Models
@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gerir Conta";
}

<!-- CSS específico para a página Manage -->
<link rel="stylesheet" href="~/css/manage.css" />

<div class="manage-page-container">
    <div class="manage-card">
        <div class="row">
            <div class="col-md-3 manage-nav">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}